<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nepy"
      type="Nepy.Configuration.NepySetting, Nepy"/>
  </configSections>
  <nepy>
    <parserAssemblies>
      <parserLoader path="Nepy.Parsers.dll"/>
    </parserAssemblies>
    <parsers>
      <parser name="SimChinesePronounParser" order="3"/>
      <parser name="SimChineseDateTimeParser" order="4"/>
      <parser name="SimChineseQuantityParser" order="6"/>
      <parser name="PhoneNoParser" order="30"/>
      <parser name="PostalCodeParser" order="36"/>
    </parsers>
  </nepy>
</configuration>